<h2>Party詳細</h2>

<h4>日付</h4>
  <%= @party.date %>
<h4>場所</h4>
　<%= @party.place %>
<h4>参加可能人数</h4>
  <%= @party.attend_number %>人
<h4>参加費</h4>
  <%= @party.attend_price %>円
<h4>もちもの</h4>
  <%= @party.belongings %>
<h4>お問い合わせ先</h4>
  <%= @party.contact %>
<h4>パーティーの詳細</h4>
  <%= @party.message %>

  
  <%= link_to "お気に入り", add_party_path(@party), method: :post %>
  <%= link_to "戻る", parties_path %>
