
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member's Blog</h2>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
		<table class="table table-striped">
  			<% @blogs.each do |blog|%>
  		<tr>
  			<td><%= attachment_image_tag blog.user, :image, :fill, 80, 80 %></td>
  			<td><%= blog.user.name %></td>
  			<td><%= blog.title %></td>
    		<td><%= link_to "詳しく", blog_path(blog.id) %></td>
  		</tr>
  			<% end %>
		</table>
	</div>
</div>
</div>

<div class="text-center"><%= paginate @blogs %></div>

<div class="text-center"><%= link_to "戻る", root_path, class: "btn btn-link" %></div>
