<h2>Tsunagu Member</h2>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>name</th>
              <th>profile</th>
            </tr>
          </thead>
          <tr>
            <% @users.each do |user| %>
  	         <td><%= attachment_image_tag user, :image, :fill, 60, 60 %></td>
             <td><%=link_to user.name, user_path(user.id) %></td>
             <td><%= user.profile %></td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>

<div class="text-center"><%= paginate @users %></div>

<div class="text-center"><%= link_to "戻る", root_path, class: "btn btn-link" %></div>