<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.name %>さんのページ</h2>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <%= attachment_image_tag @user, :image, :fill, 130, 130 %>
  </div>
  <div class="col-sm-6">
    <%= simple_format(@user.profile) %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "編集",edit_user_path(@user.id),class: "btn btn-link" %>
  </div>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <table class="table">
        <h4>投稿一覧</h4>
        <tr>
            <% @blogs.each do |blog| %>
              <td><%= blog.title %></td>
              <td><%= link_to "詳しく", blog_path(blog.id) %></td>
            </tr>
            <% end %>
          </table>
          </div>
        </div>
      </div>


<div class="text-center"><%= link_to "参加予定一覧",clips_path, class: "btn btn-info" %></div>

<div class="text-center"><%= link_to "戻る", root_path, class: "btn btn-link" %></div>