ここはtopページです



<header>
  <% if user_signed_in? %>
    <%= link_to "my page", user_path(current_user.id) %>
    <%= link_to "friends", users_path %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%=link_to "login", new_user_session_path %>
  <% end %>
 </header>

<p>
<%= link_to "投稿したい", new_blog_path %>
<%= link_to "参加したい", parties_path %>
<%= link_to "人を集めたい", new_party_path %>

<%= link_to "投稿一覧＞", blogs_path %>
</p>